<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STTOOL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <div id="page-container">
        <div id="login-container">
            <h1 id="title">STTOOL</h1>
            <h3 id="file-name">File: {{ file_name }}</h3>
            <p id="wrong-password">{{ wrong_password }}</p>
            <form>
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="submit" value="Go!" id="submit">
            <form>
        </div>
    </div>
  </body>
</html>

